@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #a88a49;
	--dark-color-b: #b0965f;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
	background-image: url("background.jpg");
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}




.mainbox{
	position: relative;
	width: 500px;
	height: 500px;
  }
  .mainbox:after{
	position: absolute;
	content: '';
	width: 32px;
	height: 32px;
	background: url('arrow-left.png') no-repeat;
	background-size: 32px;
	right: -30px;
	top: 50%;
	transform: translateY(-50%);
  }
  .box{
	width: 100%;
	height: 100%;
	position: relative;
	font-weight: bold;
	border-radius: 50%;
	border: 10px solid #fff;
	overflow: hidden;
	transition: all ease 5s;
  }


  span{
	width: 50%;
	height: 50%;
	display: inline-block;
	position: absolute;
  }
  .span1{
	clip-path: polygon(0 92%, 100% 50%, 0 8%);
	background-color: #fffb00;
	top: 120px;
	left: 0;
  }
  .span2{
	clip-path: polygon(100% 92%, 0 50%, 100% 8%);
	background-color: #ff4fa1;
	top: 120px;
	right: 0;
  }
  .span3{
	clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
	background-color: #ffaa00;
	bottom: 0;
	left: 120px;
  }
  .span4{
	clip-path: polygon(50% 100%, 92% 0, 8% 0);
	background-color: #22ff00;
	top: 0;
	left: 120px;
  }

  .box1 .span3 b{
	transform: translate(-50%, -50%) rotate(-270deg);
 }
 .box1 .span1 b,
 .box2 .span1 b{
   transform: translate(-50%, -50%) rotate(185deg);
 }
 .box2 .span3 b{
   transform: translate(-50%, -50%) rotate(90deg);
 }
 .box1 .span4 b,
 .box2 .span4 b{
   transform: translate(-50%, -50%) rotate(-85deg);
 }
 
 span b{
   font-size: 24px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 
 }
 
 .box2{
   width: 100%;
   height: 100%;
   transform: rotate(-135deg);
 }

 .spin{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: 4px solid #fff;
	background-color: #001aff;
	color: #fff;
	box-shadow: 0 5px 20px #000;
	font-weight: bold;
	font-size: 22px;
	cursor: pointer;
  }
  .spin:active{
	width: 70px;
	height: 70px;
	font-size: 20px;
  }
  
  .mainbox.animate:after{
	animation: animateArrow 0.7s ease infinite;
  }
  @keyframes animateArrow{
	50%{
	  right: -40px;
	}
  }
